@use 'base/variables' as v;
@use 'base/mixins' as m;
.tickets {
    padding: 5rem;
    h3 {
        text-align: center;
        color: v.$white;
        margin-bottom: 2rem;
    }
    .tickets-container {
        @include m.tablet {
            @include m.grid(2, 5rem);
        }
    }
}

.pass {
    .offer-pass {
        color: v.$white;
        text-align: center;
        font-size: 2.8rem;
    }
    .header-pass,
    .footer-pass {
        text-align: center;
        padding: .3rem;
        p {
            text-transform: uppercase;
            font-size: 1.6rem;
            color: v.$white;
        }
    }
    .header-pass {
        background-color: v.$pink;
    }
    .body-pass {
        background-color: v.$white;
        margin: -.3rem;
        ul {
            @include m.resetList;
            li,
             :nth-child(odd) {
                padding: .5rem;
                background-color: v.$white;
                color: v.$black;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
    .footer-pass {
        background-color: v.$violet;
        p {
            margin: .5rem;
            font-size: 2.4rem;
            font-weight: bold;
        }
    }
}